<section class="common_dashboadrd d-flex">
    <ngx-spinner color="rgb(0, 188, 212)"></ngx-spinner>
    <div class="left_menusect">
        <div class="dashboard_logo">
            <a [routerLink]="">
                <img src="../assets/images/logo.jpg" alt="">
            </a>
        </div>
        <nav>
            <ul>
                <li><a [routerLink]=""><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
                <li class="has_submenu">
                    <a><i class="fa fa-user"></i>
                        <span>Profile</span></a>
                    <ul id="subCategory">
                        <li>
                            <a [routerLink]="'/dashboard/profile'"><i class="fa fa-circle-o"></i><span>Details</span></a>
                        </li>
                        <li>
                            <a [routerLink]="'/dashboard/reset-password'"><i class="fa fa-circle-o"></i><span>Reset Password</span></a>
                        </li>
                    </ul>
                </li>
                <li><a [routerLink]="'/dashboard/vertical-listing'"><i class="fa fa-tasks"></i><span>
                    Vertical types</span></a></li>
                <li>
                    <a [routerLink]="'/dashboard/category-listing'">
                        <i class="fa fa-user"></i>
                        <span>Category</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="right_menusect">
        <header class="simple_db_header">
            <div class="justify-content-between d-flex">
                <a [routerLink]="" class="hamberger" (click)="toggleSideNav($event)"><i class="fa fa-bars"></i></a>
                <a [routerLink]=""><i class="fa fa-user"></i> Hi Arindam Sarkar </a>
            </div>
        </header>
        <router-outlet></router-outlet>
    </div>
</section>