<section class="profileDiv">
    <form action="" [formGroup]="resetPasswordForm" (ngSubmit)="updatePassword()">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form action="" [formGroup]="resetPasswordForm" (ngSubmit)="updatePassword()">
                        <div class="form-group">
                            <label for="username" class="text-info">Old Password:</label><br>
                            <input type="password" class="form-control" id="oldPassword" formControlName="OldPassword"
                                required>
                        </div>
                        <span class="error_msg"
                            *ngIf="submitted==true && resetPasswordForm.controls['OldPassword'].hasError('required')">
                            Old Password is required
                        </span>
                        <div class="form-group">
                            <label for="password" class="text-info">New Password:</label><br>
                            <input type="password" class="form-control" id="newPassword" formControlName="NewPassword"
                                required>
                        </div>
                        <span class="error_msg"
                            *ngIf="submitted==true && resetPasswordForm.controls['NewPassword'].hasError('required')">
                            Password is
                            required </span>
                        <div class="text-center submit_btn_sec">
                            <button type="submit" class="submitBtn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</section>