<section class="profileDiv pl-5 pr-5">
    <div class="card mt-3 pl-3 pr-3">
        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
            <div class="card-body">
                <div class="row mb-5">
                    <div class="col-12">
                        <div class="from-group">
                            <div class="cutom_upload_bar">
                                <img [src]="uploadedImage">
                                <input type="file" name="" id="profileImg" formControlName="profileImg"
                                    (change)="onFileChange($event)">
                                <span class="upload_title" *ngIf="uploadedFile == false">Drop Here / Click Here</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group ar_form_group" [ngClass]="{'has_val':this.profileForm.value.FirstName}">
                            <label for="frstName">First Name</label>
                            <div class="input_wrap">
                                <input type="text" class="form-control arFromInut" id="frstName"
                                    formControlName="FirstName" required (focus)="focusFunction($event)"
                                    (focusout)="focusOutFunction($event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group ar_form_group" [ngClass]="{'has_val':this.profileForm.value.LastName}">
                            <label for="lastName">Last Name</label>
                            <div class="input_wrap">
                                <input type="text" class="form-control arFromInut" id="lastName"
                                    formControlName="LastName" required (focus)="focusFunction($event)"
                                    (focusout)="focusOutFunction($event)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group ar_form_group" [ngClass]="{'has_val':this.profileForm.value.Country}">
                            <label for="country">Country Code</label>
                            <div class="input_wrap">
                                <input type="text" class="form-control arFromInut" id="country"
                                    formControlName="Country" required (focus)="focusFunction($event)"
                                    (focusout)="focusOutFunction($event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group ar_form_group" [ngClass]="{'has_val':this.profileForm.value.Gender}">
                            <label for="gender">Gender</label>
                            <div class="input_wrap">
                                <select class="form-control arFromInut" id="gender" formControlName="Gender" required
                                    (focus)="focusFunction($event)" (focusout)="focusOutFunction($event)">
                                    <option value="0">Select</option>
                                    <option value="{{gender}}" *ngFor="let gender of genders">{{gender}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group ar_form_group" [ngClass]="{'has_val':this.profileForm.value.Mobile}">
                            <label for="mobile">Mobile</label>
                            <div class="input_wrap">
                                <input type="text" class="form-control arFromInut" id="mobile" formControlName="Mobile"
                                    required (focus)="focusFunction($event)" (focusout)="focusOutFunction($event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <button type="submit" class="submitBtn">SAVE</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</section>