.login-section{
    z-index: 1;
    min-height: 100vh;
}
.login_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}
.login_box{
    margin: 0;
    padding: 40px;
    box-shadow: 2px 4px 16px -4px rgba(0, 0, 0, 0.2);
    background: #fff;
    max-width: 540px;
    -ms-flex: 0 0 540px;
    flex: 0 0 540px;
    position: relative;
}

.loginRibbon{
    text-transform: uppercase;
    font-size: 16px;
    padding: 25px 10px;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    z-index: 1;
    span{
      transform: rotate(-44deg);
      display: block;
    }
    &::before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 110px 110px 0 0;
        border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
        position: absolute;
        top: 4px;
        left: 4px;
        z-index: -1;
        filter: blur(5px);
      }
  &::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 110px 110px 0 0;
    border-color: $mc transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  }
}
.login_form{

 h2{
    font-size: 28px;
    color: #00bcd4;
    margin-bottom: 42px;
    text-align: center;
    font-weight: 600;
}
}
.ar_form_group{
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    &.has_val{
        label{
            top: 0px;
            font-size: 10px;  
        }
    }
    &.input_active{
        label{
            top: 0px;
            font-size: 10px;
            color: $mc;
        }


        .input_wrap::after{
            width: 100%;
            height: 2px;
            opacity: 1;
        }   

    }   
    label{
        position: absolute;
        top: 13px;
        left: 0;
        margin-bottom: 0;
        font-size: 14px;
        z-index: -1;
        font-weight: 500;  
        color: #8a8a8a;     
        @include tan(300ms);        
    }
    .arFromInut{
        font-size: 14px;
        border: none;
        border-bottom: 2px solid #e5e5e5;
        border-radius: 0;
        padding: 15px 0 8px;
        height: 42px;
        background:transparent;
        &:focus{
            outline: none;
            box-shadow: none;
        }
        
    }
    .input_wrap{
        position: relative;
        &::after{
            content: "";
            width: 50%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0;
            margin: 0 auto;
            background-color: $mc;
            @include tan(200ms);
            opacity: 0;      
        }        
    }
    .error_msg{
        font-size: 11px;
        color: #ff5050;
        font-weight: 600;
        position: absolute;
        bottom: -16px;
        left: 0;
        display: block;
        width: 100%;
    }
   
}


.submitBtn{
    background: #00bcd4;
    color: #fff;
    padding: 0 40px;
    font-size: 16px;
    height: 46px;
    

    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit_btn_sec{
    margin-top: 30px;
}
.common_btn{
    font-size: 14px;
    font-weight: 700;
    color: #333;
    font-weight: 600;
    &:hover{
        text-decoration: none;
        color: $mc;
    }
}