<section class="login-section d-flex justify-content-center align-items-center">
    <ngx-spinner color="rgb(0, 188, 212)"></ngx-spinner>
    <div class="login_bg" style="background: url(../assets/images/login-bg.jpg) center center;"></div>

    <div class="login_box">
        <div class="loginRibbon"><span></span></div>

        <form action="" class="w-100 d-block login_form" [formGroup]="forgetPasswordForm">
            <h2>Forget Password</h2>
            <div class="form-group ar_form_group" [ngClass]="{'has_val':this.forgetPasswordForm.value.emailPhone}">
                <div class="input_wrap">
                    <input type="text" class="form-control" id="emailPhone" formControlName="emailPhone" required
                        placeholder="Email or Phone number" />
                </div>
                <span class="error_msg"
                    *ngIf="submitted==true && forgetPasswordForm.controls['emailPhone'].hasError('required')">
                    Plaese provide Email or Phone number
                </span>
                <span class="error_msg"
                    *ngIf="submitted==true && forgetPasswordForm.controls['emailPhone'].hasError('pattern')">
                    Invalid Email or Phone number
                </span>
            </div>
            <div class="form-group ar_form_group" *ngIf="showVerifyOTP">
                <div class="input_wrap">
                    <input type="text" class="form-control" id="otp" autocomplete="off" formControlName="OTP" required
                        placeholder="Enter OTP" />
                </div>
            </div>
            <div class="form-group ar_form_group" *ngIf="showVerifyOTP">
                <div class="input_wrap">
                    <input type="text" class="form-control" id="newPswrd" autocomplete="off"
                        formControlName="NEWPASSWORD" required placeholder="New Password" />
                </div>
            </div>
            <div class="text-center submit_btn_sec" *ngIf="showVerifyOTP == false">
                <button type="submit" class="submitBtn" (click)="sendOTP()">Send OTP</button>
            </div>
            <div class="text-center submit_btn_sec" *ngIf="showVerifyOTP">
                <button type="submit" class="submitBtn" (click)="verifyOTP()">Set New Password</button>
            </div>
        </form>
    </div>

</section>